/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #A27243;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo img {
    width: 150px;
    height: auto;
}

/* Form Styles */
form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
    text-align: left;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #67ada6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #43A298;
}

.error, .errorDetails, .errorName {
    color: red;
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #43A298;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}