/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4267B2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #000000;
    padding: 5px;
    background-color: #E7EFFF;
    border-radius: 50px;
    display: inline-block;
}

/* Aside styles */
aside {
    background-color: #333;
    color: #fff;
    width: 220px; /* Adjust width as needed */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; /* Add scroll if content exceeds height */
    padding-top: 60px; /* Adjust padding for space above the content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 15px;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

aside ul li:first-child {
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 30px; /* Increase space above the first item */
}

aside ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px; /* Add padding for better clickability */
    border-left: 3px solid transparent; /* Add border for left highlight */
}

aside ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Highlight on hover */
    border-left-color: #4caf50; /* Highlight border on hover */
}

main {
    margin-left: 220px; /* Adjust according to aside width */
    padding: 20px;
}

/* Main tag styles */
main {
    margin-left: 220px; /* Adjust according to aside width */
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #000000;
    padding: 5px;
    background-color: #E7EFFF;
    border-radius: 50px;
    display: inline-block;
}

.log-container {
    margin-top: 20px;
}

.log-item {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.log-item p {
    margin-bottom: 5px;
}

.log-item p strong {
    font-weight: bold;
}

/* Styles for print */
@media print {
    body {
        background-color: #fff; /* Change background color for printing */
    }

    aside,
    button {
        display: none; /* Hide the aside and the print button */
    }

    main {
        margin-left: auto; /* Set margin-left to auto to center the contents */
        margin-right: auto; /* Set margin-right to auto to center the contents */
        width: 80%; /* Adjust width if needed */
    }
}