@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #A27243;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
header {
    width: 100vw;
    height: 50px;
    position: fixed;
    background-color: #DAC0A7;
    color: #000000;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.brand a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.navbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-menu li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-menu li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-menu li a:hover {
    color: #4C43A2;
}

/* Aside styles */
aside {
    background-color: #DAC0A7;
    border-radius: 10px;
    color: #fff;
    width: 220px; /* Adjust width as needed */
    height: 92vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; /* Add scroll if content exceeds height */
    padding-top: 50px; /* Adjust padding for space above the content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    margin-left: 0.3%;
    margin-top: 3.6%;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 15px;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

aside ul li img {
    margin-left: 17%;
    margin-bottom: 10px;
}

aside ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px 20px; /* Add padding for better clickability */
    border-left: 3px solid transparent; /* Add border for left highlight */
}

aside ul li a:hover {
    background-color: rgba( 162, 114, 67, 0.5); /* Highlight on hover */
    border-left-color: #43A298; /* Highlight border on hover */
}

main {
    margin-left: 220px; /* Adjust according to aside width */
    padding: 20px;
}

/* Main tag styles */
main {
    margin-left: 260px; /* Adjust according to aside width */
    padding: 20px;
}

.log-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 50px;
}

.log-item {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    font-size: x-large;
}

.log-item p {
    margin-bottom: 5px;
}

.log-item p strong {
    font-weight: bold;
}

/* Styles for print */
@media print {
    body {
        background-color: #fff; /* Change background color for printing */
    }

    aside,
    button {
        display: none; /* Hide the aside and the print button */
    }

    main {
        margin-left: auto; /* Set margin-left to auto to center the contents */
        margin-right: auto; /* Set margin-right to auto to center the contents */
        width: 80%; /* Adjust width if needed */
    }
}