body {
    font-family: Arial, sans-serif;
    background-color: #A27243;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column; /* Added */
}

.error-message,
.success-message {
    width: 15%;
    text-align: center;
    margin-bottom: 10px; /* Added */
    font-weight: bold;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.error-message{
    color: #f70909;
}

.success-message{
    color:#10aa16
}

.back-button {
    position: absolute;
    background-color: #fff;
    top: 15px;
    left: 15px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    padding: 7px 15px;
    border: 1px solid #333;
    border-radius: 4px;
}

.back-button:hover {
    background-color: #333;
    color: #fff;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #43A298;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #307c75;
}

/* Add styles for select and option elements */
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    appearance: none; /* Remove default appearance */
    background-color: #fff; /* Set background color */
    background-image: url('data:image/svg+xml;utf8,<svg fill="#555" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/></svg>'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
}

select:focus {
    outline: none; /* Remove focus outline */
    border-color: #43A298; /* Change border color on focus */
}

/* Style options */
option {
    background-color: #fff; /* Set background color */
    color: #333; /* Set text color */
}

/* Styling for read-only inputs */
input[readonly] {
    background-color: #f4f4f4;
    cursor: not-allowed;
}