/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #A27243;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo img {
    width: 150px;
    height: auto;
}

/* Form Styles */
form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
    text-align: left;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #67ada6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #43A298;
}

.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    padding: 7px 15px;
    border: 1px solid #333;
    border-radius: 4px;
}

.back-button:hover {
    background-color: #333;
    color: #fff;
}

.error, .errorPass, .errorName {
    color: red;
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #43A298;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}


.password-wrapper {
    position: relative;
    width: fit-content;
}

.password-wrapper input[type="password"] {
    padding-right: 220px; /* Adjust this value as needed */
    box-sizing: border-box; /* Add this line to include padding in the element's total width */
}

.password-wrapper button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50%;
    padding: 5px 5px; /* Adjust padding as needed */
    margin-top: 10px;
    margin-right: 15px;
}