<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <a href="/userHome" class="back-button">&lt; Back</a>

    <header>
        <h1>Contact</h1>
    </header>

    <section class="contact-section">
        <div class="contact-container">
            <div class="contact-info">
                <img src="Chester.png" alt="Contact Image">
                <div class="details">
                    <h2>Chester G. Evio</h2>
                    <p>Email: eviochester18@gmail.com</p>
                    <p>Phone: +63-927-447-4802</p>
                    <p>Location: Brgy. Sta.Monica, Puerto Princesa City, Palawan, Philippines</p>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-section">
        <div class="contact-container">
            <div class="contact-info">
                <img src="Joseph.png" alt="Contact Image">
                <div class="details">
                    <h2>Joseph Michael F. Diabordo</h2>
                    <p>Email: mdiabordo27@gmail.com</p>
                    <p>Phone: +63-966-803-9318</p>
                    <p>Location: Brgy. San Pedro, Puerto Princesa City, Palawan, Philippines</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
